@model  List<mvc_project.Models.Attendance> 
@{
    ViewBag.Title = "DisplayDep";
    //string OnTime ="No" ;
    //string Late = "No";
    //string Absent = "No";
    string Status = "";

}

<h2>DisplayDep</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Student</th>
            <th>ArrivalTime</th>
            <th>DepartureTime</th>
            @*<th scope="col">ONTime</th>
            <th scope="col">Late</th>
            <th scope="col">Absent</th>*@
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (int.Parse(item.TimeAttend.Split(':')[0]) <= 9)
            {
                if(int.Parse(item.TimeAttend.Split(':')[0])==9)
                {

                    if (int.Parse(item.TimeAttend.Split(':')[1].Split(' ')[0]) > 5)
                    {
                        Status = "Late";
                    }

                }
                else
                {   //OnTime = "Yes";
                    Status = "OnTime";
                }

            }
            else
            {
                if (int.Parse(item.TimeAttend.Split(':')[0]) > 9)
                {
                    //Late = "Yes";
                    Status = "Late";
                }
                else
                {
                    //Absent = "Yes";
                    Status = "Absent";

                }
            }
        <tr>
            <td> @item.User.UserName</td>
            <td> @item.TimeAttend</td>
            <td> @item.TimeLeft</td>
            @*<td> @OnTime</td>
            <td> @Late</td>
            <td> @Absent</td>*@
            <td> @Status</td>

            @*<td>
             @if (int.Parse(item.TimeAttend) <= 9)
             {
                 @OnTime = "Yes";

             }
             @OnTime
         </td>
         <td>
             @if (int.Parse(item.TimeAttend) > 9)
             {
                 @Late = "Yes";

             }
         </td>
         @Late
         <td>
             @if (item.TimeAttend == "NULL")
             {
                 @Absent = "Yes";

             }
        </td>
         @Absent*@
        </tr>
            //OnTime = "No";
            //Late = "No";
            //Absent = "No";
            Status = "";
        }
    </tbody>
</table>